.SustainableDevelopment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    width: calc(100vw - 60px);
    max-width: 1000px;
    margin: auto;

    list-style-type: none;

    color: rgb(40, 40, 40);
    background: rgb(214, 255, 216);
    border-radius: 10px;
    padding: 20px 0px;
}

#video-sus {
    width: 100%;
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sustainable-video {
    width: 100%;
    height: 200px;
    max-width: 400px;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.SustainableDevelopmentGuidelines {
    width: 200px;

    padding: 10px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    cursor: pointer;

    border-radius: 5px;

    transition-duration: 0.1s;

    border-style: solid;
    border-width: 1px;
    border-color: white;

    background: #bdffc0;

    box-shadow: inset 10px 10px 10px #c6ffc8, 
                inset -10px -10px 10px #afffb3,
                -5px -5px 10px #b0ffb5,
                5px 5px 10px #dcffde;
}

.SustainableDevelopmentGuidelines:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

.sno-sustainable {
    width: 30px;
    height: 30px;

    background: #4c9e75;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.data-sustainable {
    width: calc(100% - 10px);
    height: calc(100% - 30px);

    margin-top: 10px;
    padding: 10px;
}

#SustainableHeading {
    transition-duration: 0.3s;

    color: rgb(130, 130, 130);

    width: calc(100vw - 100px);
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;

    border-color: #4c9e75;
    border-top-style: solid;
    border-width: 5px;

    padding-top: 20px;

    padding: 20px;

    font-size: 20px;
}

#SustainableEnding {
    transition-duration: 0.3s;

    width: calc(100vw - 100px);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;


    border-bottom-style: solid;
    border-color: #4c9e75;
    border-width: 5px;

    color: rgb(130, 130, 130);

    font-size: 20px;
    padding: 20px;
}

#highlighted-text {
    color: gold;
    font-size: 1.3em;

    text-decoration: underline;
}

@media (max-width: 700px) {
    .SustainableDevelopment {
        width: calc(100vw - 20px);
    }

    .SustainableDevelopmentGuidelines {
        width: 100px;
    }

    .data-sustainable {
        height: 100%;

        font-size: 13px;
    }

    #SustainableHeading {
        font-size: 17px;
    }

    #SustainableEnding {
        font-size: 17px;
    }
}