.airplane {
    width: calc(100vw - 50px);
    height: 400px;

    max-width: 1000px;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    background: #d9f5ff;
    border-radius: 20px;
}